.StorageChangeAlert-bg {
  background: rgba(32, 35, 41, 0.8);
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.StorageChangeAlert {
  background: rgb(36, 35, 36);
  position: fixed;
  height: fit-content;
  left: -10px;
  right: -10px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.StorageChangeAlert p {
  color: aliceblue;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.StorageChangeAlert button {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  color: #202329;
  font-weight: 400;
  width: 200px;
  height: 35px;
  border-radius: 2px;
  border: none;
  font-family: "Montserrat";
  margin-bottom: 20px;
}

.StorageChangeAlert button:hover {
  background: #61dafa;
  box-shadow: 0px 5px 15px #61dafa;
}
