.TodoListItem {
  background-color: #444752;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  border-radius: 4px;
}

.TodoListItem-p {
  margin: 15px;
  width: calc(100% - 140px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: aliceblue;
}

.TodoListItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  height: 48px;
  width: 48px;
  font-size: 30px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #CCC; */
}

.Icon-check {
}

.Icon-check:hover {
  color: #4caf50;
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
}

.Icon-delete:hover {
  color: red;
}

.Icon-edit {
}

.Icon-edit:hover {
  color: rgb(0, 166, 255);
}
